<div class="footer">
    <div class="row mar0">
        <div class="col-md-2 col-xs-6 col-sm-3">
            <div class="footerData">
                <p class="footer-title">
                    About Us
                </p>
                <p><a href="https://goo.gl/forms/ebGm5HJgK7OfJzL43" target="_blank">Token Listing</a></p>
                <p><a href="https://www.wandx.co/whitepaper.html" target="_blank">White Paper</a></p>
            </div>
        </div>
        <div class="col-md-2 col-xs-6 col-sm-3">
            <div class="footerData">
                <p class="footer-title">
                    Legal
                </p>
                <p><a href="https://www.wandx.co/terms-of-use.html" target="_blank">Terms of Use</a></p>
                <p><a href="https://www.wandx.co/privacy-policy.html" target="_blank">Privacy Policy</a></p>
            </div>
        </div>
        <div class="col-md-2 col-xs-6 col-sm-3">
            <div class="footerData">
                <p class="footer-title">
                    Trading
                </p>
                <p><a href="" matTooltip="Will be documented by Feb 26th" [matTooltipPosition]="'right'">API Documentation</a></p>
                <p id="myBtn1" matTooltip="Using the Wand Token, you can get a 75% discount on trading fees for Portfolios and the Order Book" [matTooltipPosition]="'above'">Fees</p>
                <!-- popup open -->
                <div id="myModal1" class="modal" *ngIf="showModal">
                    <div class="modal-content modal-content1">
                        <div class="innerContent">
                            <p>Trading Fee</p>
                            <table cellspacing=0>
                                <tr cellspacing=0>
                                    <th cellspacing=0 class="col3">
                                        <p>EXCHANGE FEES</p>
                                    </th>
                                    <th cellspacing=0 class="col2">
                                        <p class="pad">0.001</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th cellspacing=0 class="col2">
                                        <p>GAS FEE</p>
                                    </th>
                                    <th cellspacing=0 class="col4">
                                        <p class="pad">Depends on Ehtereum Blockchain Price</p>
                                    </th>
                                </tr>
                            </table>
                            <div class="executeBtn close1">
                                <button>OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- popup close -->
            </div>
        </div>
        <div class="col-md-2 col-xs-6 col-sm-3">
            <div class="footerData">
                <p class="footer-title">
                    Contact Us
                </p>
                <p>marketing@wandx.co</p>
              <div class="help">
                <a _ngcontent-c10="" href="https://www.youtube.com/embed/PeKmn6c-izQ" target="_blank">Help?</a>
              </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12 col-sm-12">
            <div class="social-icons">
                <a href="https://www.facebook.com/wandx.co/" target="_blank"><img src="assets/social-facebook.svg" title="Facebook"> </a>
                <a href="https://twitter.com/WandXDapp" target="_blank"><img src="assets/social-twitter.svg" title="Twitter"> </a>
                <a href="https://github.com/WandXDapp" target="_blank"><img src="assets/social-github.svg" title="Github"> </a>
                <a href="https://medium.com/wandx" target="_blank"><img src="assets/social-medium.svg" title="Medium"> </a>
                <a href="https://t.me/wandxbeta" target="_blank"><img src="assets/social-telegram.svg" title="Telegram"> </a>
                <a href="https://www.instagram.com/wandx.co/" target="_blank"><img src="assets/social-instagram.svg" title="Instagram"> </a>
            </div>

        </div>

    </div>
</div>
