<section class="quick-buy">
    <div class="box-container">
        <div class="heading">
            <p>Top Performing Portfolios</p>
        </div>
        <div class="dmy">
            <button class="bdr-rght">1 Day</button>
            <button class="bdr-rght">1 Week</button>
            <button>1 Month</button>
        </div>
        <div class="topBox">
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer" style="height: 92px; width: 100%;">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
        </div>

        <div class="bottomBox">
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
        </div>
    </div>
    <div class="box-container">
        <div class="heading">
            <p>Newly Added Portfolios</p>
        </div>
        <div class="dmy">
            <button class="bdr-rght">1 Day</button>
            <button class="bdr-rght">1 Week</button>
            <button>1 Month</button>
        </div>
        <div class="topBox">
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
        </div>

        <div class="bottomBox">
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
            <div class="box">
                <div class="topcontent">
                    <div class="leftcontn">
                        <p>Name</p>
                    </div>
                    <div class="rightcontn">
                        <p>Follow:</p>
                    </div>
                </div>
                <div class="middleGraph">
                    <div class="chartContainer">
                        <chart [type]="charttype" [data]="chartdata" [options]="chartoption"></chart>
                    </div>
                </div>
                <div class="middleData">
                    <div class="displayOnHover ">
                        <p class="bordlft">Tokens</p>
                        <div class="accountName">
                            <div class="arrow-up"></div>
                            <h3>Account owner</h3>
                            <p class="blue">Name</p>
                            <h3>Policy created on:</h3>
                            <p>dd/mm/yy</p>
                        </div>
                    </div>

                    <p>Price Rise</p>
                </div>
                <div class="buyBtn">
                    <input type="text">
                    <button>Quote</button>
                    <button>Buy</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script> -->

<script>
    /*var chart = new CanvasJS.Chart("chartContainer", {
        axisX: {
            gridThickness: 0,
            tickLength: 0,
            lineThickness: 0,
            labelFormatter: function() {
                return " ";
            }
        },
        axisY: {
            gridThickness: 0,
            tickLength: 0,
            lineThickness: 0,
            labelFormatter: function() {
                return " ";
            }
        },
        data: [{
            type: "splineArea",
            color: "#4CAF50",
            dataPoints: [{
                x: 10,
                y: 71
            }, {
                x: 20,
                y: 55
            }, {
                x: 30,
                y: 50
            }, {
                x: 40,
                y: 65
            }, {
                x: 50,
                y: 95
            }, {
                x: 60,
                y: 68
            }, {
                x: 70,
                y: 28
            }, {
                x: 80,
                y: 34
            }, {
                x: 90,
                y: 14
            }]
        }]
    });

    chart.render();*/
</script>
